<div class="about-us-container">

    <div class="about-mission">
        <h2>Our mission is to humanize how people and AI connect.</h2>

        <p>
            As AI becomes an integral part of our daily lives, it is essential to develop methods of engagement that are
            intuitive, natural, and authentic. We believe this is especially true in eduction, where human-centered
            experiences make learning more engaging, memorable, and accessible.
        </p>

        <p>
            AI systems can access vast amounts of information, adapt to individual learners, and provide real-time
            feedback.
            However, without engaging and intuitive ways to communicate with learners, even the best AI content
            struggles to
            inspire curiosity or sustained interest.
        </p>

        <p>
            That's where we come in. We give AI-based learning and entertainment systems a human spark, enabling users
            to
            interact naturally with AI in ways that strengthen comprehension, build confidence, and motivate learners.
        </p>
    </div>


    <div class="founder-container">

        <h2 class="founders-heading">Meet the Founder</h2>

        <div class="founder-content">
            <div class="founder-identity">
                <img src="/images/founder/michael.png" alt="Michael Luciuk" class="founder-image">
                <h2>Michael Luciuk, MSc</h2>
            </div>

            <div class="founder-bio">
                <p>
                    As emerging AI technologies like ChatGPT became a regular part of his development workflow,
                    Michael noticed significant limitations in how humans interact with AI compared with how
                    humans interact with each other. He realized that more natural interactions are
                    essential for building trust with AI, making these systems more accessible and
                    effective in various contexts.
                </p>
                <p>
                    Michael founded Cilindir to address this gap in human–AI communication, building the
                    Cilindir Rift to enable more immersive, human-centered learning experiences between AI instructors
                    and human learners.
                </p>
                <p>
                    Michael holds a Master's in Applied Computing from the University of Toronto, with
                    professional experience at Qoherent (startup), QEYnet (startup), BASF, Imperial Oil, and the
                    Canadian Institute of Space and Atmospheric Studies.
                </p>
            </div>
        </div>

    </div>
</div>