@layer components {
    .about-us-container {
        width: 80%;
        margin: 0 auto;
    }

    .about-us-container h2,
    .founders-heading h2 {
        text-align: center;
        font-size: 1.6rem;
    }

    .about-mission {
        margin-bottom: 1.5rem;
    }

    .founder-container {
        margin-top: 3rem;
    }

    .founder-content {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 40px;
        align-items: start;
        margin-top: 2rem;
    }

    .founder-identity {
        text-align: center;
    }

    .founder-identity h2 {
        margin-top: 0.5rem;
        font-size: 1.6rem;
    }

    .founder-image {
        width: 100%;
        max-width: 300px;
        height: auto;
        border-radius: 8px;
    }

    .founder-bio {
        font-size: 1.05rem;
        line-height: 1.5;
    }

    @media (max-width: 768px) {

        .founders-heading {
            margin: 0;
        }

        .founder-container {
            margin-top: 2rem;
        }

        .founder-content {
            grid-template-columns: 1fr;
            text-align: center;
            gap: 0px;
            margin: 0px;
        }

        .founder-image {
            width: 90%;
        }

        .founder-identity h2 {
            margin-top: 0.5rem;
            font-size: 1.3rem;
        }

        .founder-bio {
            text-align: left;
            width: 100%;
            margin: 0 auto;
        }

        .founder-bio p:last-child {
            margin-bottom: 0;
        }
    }
}