@layer components {
    .partner-container {
        width: 50%;
        max-width: 650px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        gap: 3rem 5rem;
        margin: 0 auto;
    }

    .partner-logo {
        justify-content: center;
        align-items: center;
    }

    .partner-logo img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }

    @media (max-width: 1280px) {
        .partner-container {
            gap: 2rem 3rem;
        }
    }

    @media (max-width: 768px) {
        .partner-container {
            display: flex;
            flex-direction: column;
            gap: 0.75rem;
            width: 45%;
            margin-bottom: 0.5rem;
        }

        .partner-logo img {
            max-width: 250px;
        }
    }
}